@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600&display=swap");
*{
padding: 0;
margin: 0;
box-sizing: border-box;
color: white;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-color: #1f2428;
}

.exit-code{
    display: flex;
    gap: 10px;
}

.paint-a, .paint-b,.paint-c{
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

.paint-a{
    background-color: #f1fa8c;
}

.paint-b{
    background-color: #50fa7b;
}
.paint-c{
    background-color: #f55 !important;
    /* border: solid #f55; */
    
}
svg{
    width: 17px;
    margin-right: 5px;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #1f2428;
    color: white;
    align-items: center;
    background-size: cover;
    background-position: center;
    
}
.code-list{
    margin-left: 10px;
    display: inline-block;
    padding: 2px;
    cursor: pointer;
}
.code-list:hover{
    background-color: #3c4044;
}
.lista-code{
    display: flex;
    align-items: center;
    list-style-type: none;
}
.layout-main{
    display: flex;
    width: 100%;
    height: calc(100dvh - 40px);

    background-color: #24292e;
    border-top: solid 1px #ececec07;
}
.main-content{
    background-color: #24292e;
    width: 100%;
}
.explorer-code{
    width: 18vw;
    background-color: #1f2428;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    border-right:  0.1px solid #383c3f93;
}
.explorer-code p{
    font-family: JetBrains Mono;
    font-size: 14px;
    color: #70787e;
}
.aside-main{
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    border-right: 0.1px solid #383c3f93;
    border-left: 0.1px solid #383c3f93;
    padding-top: 10px;
    width: 4.2vw;
}
.aside-main img:hover {
    filter: brightness(0) saturate(100%) invert(65%) sepia(30%) saturate(300%) hue-rotate(180deg);
    cursor: pointer;
}
.icon-1{
    filter: brightness(0) saturate(100%) invert(55%) sepia(30%) saturate(300%) hue-rotate(180deg);

}

.form-container {
    max-width: 400px;
    padding: 20px;
    color: #fff;
    border-radius: 8px;
        display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .a{
    align-items: center;
    display: flex;
    gap: 10px;
  }
  .a img{
    filter: brightness(0) saturate(100%) invert(65%) sepia(70%) saturate(30%) hue-rotate(180deg);
    width: 30px;
  }
  .a:hover img {
    filter: brightness(0) saturate(100%) invert(1%) sepia(80%) saturate(1%) hue-rotate(180deg);
}

  .form-container label {
    font-weight: bold;
  }

  .form-container input,
  .form-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background: #252526;
    color: #fff;
    font-size: 16px;
  }

  .form-container textarea {
    resize: vertical;
    min-height: 100px;
  }

  .form-container button {
    background: #444;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
  }

  .form-container button:hover {
    background: #3c46c7;
  }

details {
    display: flexbox;
    align-items: center;
}

details summary {
    cursor: pointer;
    display: flex;
    align-items: center;
}

summary {
    list-style: none;
    display: flex;
    align-items: center;
}

summary::-webkit-details-marker {
    display: none;
}

summary::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('/assets/icons/5.png') no-repeat center;
    background-size: cover;
    margin-right: 8px;
    transition: 0.2s ease-in-out;
}

details[open] summary::before {
    transform: rotate(90deg);
    transition: 0.2s ease-in-out;
}

.nav-as ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    padding-left: 10px;
    gap: 5px;
    list-style: none;
    padding-top: 10px;
    
}
.nav-as a{
    text-decoration: none;
    align-items: center;
    display: flex;
    font-size: 15px;
    width: 100%;
    padding: 2px;
}
.nav-as a:hover{
    background-color: #333a41;
}
.main-nav{
    width: 100%;
    align-items: center;
}
.main-nav ul{
    width: 100%;
    background-color: #1f2428;

    display: flex;  
    list-style-type: none;
}
.main-nav li{
    align-items: center;
    display: flex;
    background-color: #1f2428;
    padding: 10px;
}
.main-nav a{
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}
.main-nav .inicio {
    border-top: solid 1px whitesmoke;
    background-color: #24292e;
}
.conteudo-inicio{
    padding: 20px;
    width: 100%;
    text-align: center;
    height: 80dvh;
    display: grid;
    place-content: center;
    font-family: JetBrains Mono;
}
.conteudo-inicio h1{
    font-size: 15px;
    color: rgba(125, 246, 255, 0.808);

}
.conteudo-inicio h2{
    font-size: 68px;
}
.conteudo-inicio h3{
    font-size: 70px;
    color: rgba(125, 246, 255, 0.808);
}
.conteudo-inicio li{
    background-color: transparent;
    border-radius: 10px;
    
}
.h2-a a{
    text-decoration: dashed;
}
.conteudo-inicio .othe{
    background-color: transparent;
    gap: 20px;
    justify-content: center;
}
.conteudo-inicio .a{
    border-radius: 5px;
    padding: 12px;
    font-size: 13px;
    transition: 0.4s ease-in-out;
}
.conteudo-inicio .a:hover{
    background-color: white ;
    color: black;
}
.conteudo-inicio p{
    font-size: 14px;
    max-width: 500px;
    margin: 0 auto;
}
.main-code svg{
    display: none;
}
.sobre-{
    padding: 20px;
    width: 100%;
    font-family: JetBrains Mono;
}
.sobre- p{
    padding-top: 20px;
}
.frelas{
    color: aqua;
    font-weight: bolder;
}
.frelas:hover{
    text-decoration: underline;

}
.iconweb p{
    padding-bottom: 10px;
}
.iconweb img{
    border: solid 1px;
}
::-webkit-scrollbar {
    width: 12px;
    
}

::-webkit-scrollbar-track {
    background: #a0a0a0;
}

::-webkit-scrollbar-thumb {
    background: #333a41;
    border-radius: 0px;
    transition: 0.4s ease-in-out;
    height: 10px;
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: #444;
}

@media screen and (max-width: 870px) {
    body{
        background-color: #24292e;
    }
    .conteudo-inicio h2{
        font-size: 45px;
    }
    .conteudo-inicio h3{
        font-size: 45px;

    }
    .aside-main{
        padding: 20px;
    }
    .lista-code p{
        display: none;
        padding: 0;
    }
    .lista-code{
        display: none;
    }
    .main-code{
        align-items: center;
        display: flex;
    }
    .main-code svg{
        display: block;
        width: 19px;
        margin-right: 9px;
    }
  
}
@media screen and (max-width: 700px) {
  
    .explorer-code{
        display: none;
    }
    .conteudo-inicio{
        padding: 0;
        margin-top: 20px;
        height: 0%  ;
    }
    .dvh{
        height: 170dvh;
    }
    .conteudo-inicio h2{
        font-size: 35px;
    }
    .conteudo-inicio h3{
        font-size: 35px;
    }
    .conteudo-inicio p{
        font-size: 12px;
        width: 100%;
    }
    .main-nav .ul-main{
        padding: 0;
        flex-direction: column;
    }
   @media screen and (max-width:450px) {
    
    .conteudo-inicio h2{
        font-size: 25fr;
    }
    .conteudo-inicio h3{
        font-size: 25fr;
    }
    .conteudo-inicio p{
        font-size: 6fr;
        padding: 1px;
        width: 100%;
    }
    
   }
}
@media screen and (max-width: 410px) {
    .aside-main{
        display: none;
    }   
}
@media screen and (max-height: 456px) {
    .conteudo-inicio {
        height: none;
    }
    .cards{
    justify-content: center;
   }

    .conteudo-inicio h2{
        color: #50fa7b;
    }
    .conteudo-inicio h1,h3{
        display: none;
    }
}
@media screen and (max-width: 440px) {
    .p-projeto{
        text-align: center;
    }
    #pj h1{
        text-align: center;
    }
}
@media screen and (max-width: 513px) {
    .p-projeto{
        text-align: center;
    }
    #pj h1{
        text-align: center;
    }

}

@media screen and (max-width: 371px) {
    .conteudo-inicio{
        height: 60dvb;
    }
    .conteudo-inicio h2{
        font-size: 9.7vw;
    }
    .conteudo-inicio h1{
        font-size:  3.4vw;
    }
    .othe{
        padding: 0;
        gap: 0px !important;

        flex-direction: column;
    }
    .othe li{
        width: 100%;
        justify-content: center;
    }
    .conteudo-inicio h3{
        font-size: 8vw;
    }
    .conteudo-inicio p{
        padding-left:40px ;
        padding-right: 40px;
    }
    .cards{
     justify-content: center;
    }
 }
 
@media screen and (max-width: 271px) {

   .cards{
    justify-content: center;
   }
   header{
    font-size: 4vw;
   }
   .exit-code{
    display: none;
   }
}

@media screen and (max-width: 530px) {
    .othe a {
        font-size: 0 !important;
        padding: 0;
    }
  
    .a:hover{
        background-color: transparent !important;
    }
}