.icon-4{
    filter: brightness(0) saturate(100%) invert(55%) sepia(30%) saturate(300%) hue-rotate(180deg);
}
.icon-1, .icon-3{
    filter: none !important;
}

.main-nav .contato{
    border-top: 1px solid whitesmoke;
    background-color: #24292e;

}